{% extends "base.html" %}
{% load static %}
{% load imagekit %}

{% block title %}
    صفحه 404
{% endblock %}

{% block meta_description %}
    <meta name="description" content="صفحه 404">
{% endblock %}

{% block content %}
<main class="main">
    <div class="error-content">
        <div class="container">

            <!-- تصویر 404 -->
            <img src="{% static 'images/backgrounds/404-error.png' %}"
                 alt="خطای ۴۰۴ - صفحه یافت نشد"
                 class="error-image">

            <h1 class="error-title">خطای ۴۰۴</h1>

            <p class="error-text">
                متاسفانه صفحه‌ای که دنبالش بودید وجود ندارد یا حذف شده است.
            </p>

            <a href="{% url 'home:home' %}" class="btn-home">
                بازگشت به صفحه اصلی
            </a>

        </div>
    </div>
</main>

{% endblock %}
