{% extends "base.html" %}
{% load static %}
{% load imagekit %}

{% block title %}صفحه پیدا نشد{% endblock %}

{% block meta_description %}
    <meta name="description" content="خطای 404 - صفحه یافت نشد">
{% endblock %}

{% block content %}
    <main class="main">
        <div class="error-content">
            <div class="container">

                <img src="{% static 'images/error.png' %}"
                     alt="خطای 404 - صفحه یافت نشد"
                     class="error-image">

                <h1 class="error-title">خطای 404</h1>

                <p class="error-text mb-2">
                    متاسفانه صفحه‌ای که دنبالش بودید پیدا نشد یا حذف شده است.
                </p>

                <a href="{% url 'home:home' %}" class="btn-home">
                    بازگشت به صفحه اصلی
                </a>

            </div>
        </div>
    </main>
{% endblock %}
