{# expects: b, extra_banner_class, content_pos_class, btn_class, title_class, subtitle_class #}
{# home/_banner_card.html #}
{% if b %}
  <div class="banner {{ extra_banner_class|default:'' }}">
    <a href="{{ b.link_url|default:'#' }}" class="banner-link-wrap">
      <div class="banner-media">
        <picture>
          {% if b.image_mobile %}
            <source media="(max-width: 767.98px)" srcset="{{ b.image_mobile.url }}">
          {% endif %}
          <img src="{{ b.image.url }}"
               alt="{{ b.title|default:'بنر' }}"
               loading="lazy">
        </picture>
      </div>
    </a>

    <div class="banner-content {{ content_pos_class|default:'' }}">
      {% if b.subtitle %}
        <h4 class="banner-subtitle {{ subtitle_class|default:'' }}">{{ b.subtitle }}</h4>
      {% endif %}

      {% if b.title %}
        <h3 class="banner-title {{ title_class|default:'' }}">{{ b.title|linebreaksbr }}</h3>
      {% endif %}

      <a href="{{ b.link_url|default:'#' }}"
         class="btn {{ btn_class|default:'btn-outline-gray' }} banner-link">
        {{ b.button_text|default:'مشاهده' }}
        <i class="icon-long-arrow-left"></i>
      </a>
    </div>
  </div>
{% endif %}