{% load static %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'js/superfish.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/demos/demo-2.js' %}"></script>
{#    <script src="{% static 'js/check_otp.js' %}"></script>#}

{#         Product    js  #}
    <script src="{% static 'products/js/product.js' %}"></script>

{#<script src="https://cdn.jsdelivr.net/npm/chart.js@4"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/luxon@3/build/global/luxon.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>#}
