{% load static %}
<footer class="footer footer-2">
    <div class="icon-boxes-container">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rocket"></i>
                                </span>
                        <div class="icon-box-content">
                            <h3 class="icon-box-title">امکان تحویل اکسپرس</h3><!-- End .icon-box-title -->
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-rotate-left"></i>
                                </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">7 روز ضمانت بازگشت</h3><!-- End .icon-box-title -->
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-headphones"></i>
                                </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">پشتیبانی حرفه ای</h3>
                            <!-- End .icon-box-title -->
                        
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-6 col-lg-3">
                    <div class="icon-box icon-box-side">
                                <span class="icon-box-icon text-dark">
                                    <i class="icon-certificate"></i>
                                </span>

                        <div class="icon-box-content">
                            <h3 class="icon-box-title">ضمانت اصالت کالا</h3><!-- End .icon-box-title -->
                        </div><!-- End .icon-box-content -->
                    </div><!-- End .icon-box -->
                </div><!-- End .col-sm-6 col-lg-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .icon-boxes-container -->

{#    <div class="footer-newsletter bg-image" style="background-image: url({% static 'images/backgrounds/bg-2.jpg' %})">#}
{#        <div class="container">#}
{#            <div class="heading text-center">#}
{#                <h3 class="title text-center">اطلاع از آخرین تخفیف ها</h3><!-- End .title -->#}
{#                <p class="title-desc text-center">و دریافت <span>تخفیف 20هزار تومانی</span> برای اولین خرید</p>#}
{#                <!-- End .title-desc -->#}
{#            </div><!-- End .heading -->#}
{##}
{#            <div class="row">#}
{#                <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">#}
{#                    <form action="#">#}
{#                        <div class="input-group">#}
{#                            <input type="email" class="form-control" placeholder="آدرس ایمیل خود را وارد کنید"#}
{#                                   aria-label="Email Adress" aria-describedby="newsletter-btn" required>#}
{#                            <div class="input-group-append">#}
{#                                <button class="btn btn-primary" type="submit"#}
{#                                        id="newsletter-btn"><span>عضویت</span><i#}
{#                                        class="icon-long-arrow-left"></i></button>#}
{#                            </div><!-- .End .input-group-append -->#}
{#                        </div><!-- .End .input-group -->#}
{#                    </form>#}
{#                </div><!-- End .col-sm-10 offset-sm-1 col-lg-6 offset-lg-3 -->#}
{#            </div><!-- End .row -->#}
{#        </div><!-- End .container -->#}
{#    </div><!-- End .footer-newsletter bg-image -->#}

    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <div class="widget widget-about">
                        <img src="{{ site_info.logo_site_thumb.url }}" class="footer-logo" alt="{{ site_info.company_name }}"  width="105" height="25">
                        <p class="mt-0">{{ site_info.description }}</p>

                        <div class="widget-about-info">
                            <div class="row">
                                <div class="col-sm-6 col-md-4">
                                    <span class="widget-about-title mb-2">سوالی دارید؟ 7روز هفته/24ساعته</span>
                                    <a href="tel:{{ site_info.phone_number }}">{{ site_info.phone_number }}</a>
                                </div><!-- End .col-sm-6 -->
                            </div><!-- End .row -->
                        </div>

                    </div><!-- End .widget about-widget -->
                </div><!-- End .col-sm-6 col-lg-3 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">لینک های مفید</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            <li><a href="{% url 'core:about' %}">درباره ما</a></li>
                            <li><a href="{% url 'products:product_list' %}">محصولات</a></li>
{#                            <li><a href="#">اخبار</a></li>#}
                            <li><a href="{% url 'faq:faqs' %}">سوالات متداول</a></li>
                            <li><a href="{% url 'contact:contact_page' %}">تماس با ما</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">خدمات مشتری</h4><!-- End .widget-title -->

                        <ul class="widget-list">
{#                            <li><a href="#">شیوه پرداخت</a></li>#}
{#                            <li><a href="#">گارانتی بازگشت وجه</a></li>#}
{#                            <li><a href="#">شیوه ارسال محصولات</a></li>#}
                            <li><a href="{% url 'home:privacy' %}">حریم خصوصی</a></li>
                            <li><a href="{% url 'home:terms' %}">قوانین و مقررات</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->

                <div class="col-sm-4 col-lg-2">
                    <div class="widget">
                        <h4 class="widget-title">حساب کاربری</h4><!-- End .widget-title -->

                        <ul class="widget-list">
                            {% if user.is_authenticated %}
                                <li>
                                    <a href="{% url 'account:logout' %}">خروج</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{% url 'account:otp_login' %}">ورود / ثبت نام</a>
                                </li>
                            {% endif %}
                            <li><a href="{% url 'cart:cart_detail' %}">سبد خرید</a></li>
                            <li><a href="{% url 'core:wishlist_page' %}">لیست علاقه مندی ها</a></li>
                            <li><a href="{% url 'dashboards:user_orders' %}">پیگیری سفارشات</a></li>
                        </ul><!-- End .widget-list -->
                    </div><!-- End .widget -->
                </div><!-- End .col-sm-4 col-lg-2 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="container d-flex justify-content-between align-items-center">
            <p class="mb-0">© {{ site_info.company_name }} — طراحی و توسعه توسط آساره اسکندرپور و زهرا فرهنگی </p>
            <div class="social-icons social-icons-color">
                {% if site_info.instagram %}
                    <a href="{{ site_info.instagram }}" target="_blank" class="social-icon social-instagram">
                        <i class="icon-instagram"></i>
                    </a>
                {% endif %}
                {% if site_info.telegram %}
                    <a href="{{ site_info.telegram }}" target="_blank" class="social-icon social-telegram">
                        <i class="icon-telegram"></i>
                    </a>
                {% endif %}
                {% if site_info.whatsapp %}
                    <a href="{{ site_info.whatsapp }}" target="_blank" class="social-icon social-whatsapp">
                        <i class="icon-whatsapp"></i>
                    </a>
                {% endif %}
                {% if site_info.twitter %}
                    <a href="{{ site_info.twitter }}" target="_blank" class="social-icon social-twitter">
                        <i class="icon-twitter"></i>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
</footer><!-- End .footer -->