{#/home/atusa92/PycharmProjects/ShopX/templates/partials/header.html#}
{% load static humanize %}
<form style="display:none">{% csrf_token %}</form>

<header class="header header-2 header-intro-clearance">
    <div class="header-top">
        <div class="container">
           {# <div class="header-left"> #}
            {#    <p>کالکشن های جدید به زودی در دسترس قرا می گیرند</p><a href="#">&nbsp;مطالعه بیشتر ...</a> #}
            {#</div><!-- End .header-left --> #}

            <div class="header-right">

                <ul class="top-menu">
                    <li>
                        <a href="#">لینک ها</a>
                        <ul>
                            <li>
                                {#                                <div class="header-dropdown">#}
                                {#                                    <a href="#">فارسی</a>#}
                                {#                                    <div class="header-menu">#}
                                {#                                        <ul>#}
                                {#                                            <li><a href="#">انگلیسی</a></li>#}
                                {#                                            <li><a href="#">فرانسوی</a></li>#}
                                {#                                            <li><a href="#">ترکی استانبولی</a></li>#}
                                {#                                        </ul>#}
                                {#                                    </div><!-- End .header-menu -->#}
                                {#                                </div><!-- End .header-dropdown -->#}
                            </li>
                            {% if user.is_authenticated %}
                                <!-- کاربر وارد شده، فقط خروج نمایش داده شود -->
                                <li>
                                    <a href="{% url 'account:logout' %}">خروج</a>
                                </li>
                            {% else %}
                                <!-- کاربر وارد نشده، فقط ورود / ثبت نام نمایش داده شود -->
                                <li>
                                    <a href="{% url 'account:otp_login' %}" data-toggle="modal">ورود / ثبت نام</a>
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->

        </div><!-- End .container -->
    </div><!-- End .header-top -->

    <div class="header-middle mb-0">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">فهرست</span>
                    <i class="icon-bars"></i>
                </button>

                <a href="{% url 'home:home' %}" class="logo">
                    <img src="{{ site_info.logo_site_thumb.url }}" alt="{{ site_info.company_name }}" width="104"
                         height="24">
                </a>
            </div><!-- End .header-left -->

            {% include "search/header_search.html" %}

            <div class="header-right">
                {% comment %} <div class="account">
                    <a href="{% url 'dashboards:dashboard' %}" title="My account">
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                        <p>حساب کاربری</p>
                    </a>
                </div><!-- End .compare-dropdown --> {% endcomment %}

                <div class="dropdown cart-dropdown account">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-user"></i>
                        </div>
                        {% comment %} <p>حساب کاربری</p> {% endcomment %}
                    </a>
                   {% if user.is_authenticated %}
                    <!-- منوی واحد برای پروفایل و خروج -->
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="{% url 'dashboards:dashboard' %}">پروفایل کاربری</a>
                                    </h4>
                                </div><!-- End .product-cart-details -->
                            </div><!-- End .product -->

                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="{% url 'account:logout' %}">خروج</a>
                                    </h4>
                                </div><!-- End .product-cart-details -->
                            </div><!-- End .product -->
                        </div><!-- End .dropdown-cart-products -->
                    </div><!-- End .dropdown-menu -->
                    {% else %}
                    <!-- کاربر وارد نشده، فقط ورود / ثبت نام -->
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-cart-products">
                            <div class="product">
                                <div class="product-cart-details">
                                    <h4 class="product-title">
                                        <a href="{% url 'account:otp_login' %}">ورود / ثبت نام</a>
                                    </h4>
                                </div><!-- End .product-cart-details -->
                            </div><!-- End .product -->
                        </div><!-- End .dropdown-cart-products -->
                    </div><!-- End .dropdown-menu -->
                    {% endif %}
                </div><!-- End .cart-dropdown -->

                <div class="wishlist">
                    <a href="{% url 'core:wishlist_page' %}" title="لیست محصولات مورد علاقه شما">
                        <div class="icon">
                            <i class="icon-heart-o"></i>
                            <span class="wishlist-count badge">{{ wishlist_count }}</span>
                        </div>
                        {% comment %} <p>لیست علاقه مندیها</p> {% endcomment %}
                    </a>
                </div><!-- End .compare-dropdown -->


                <div class="dropdown cart-dropdown">
                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false" data-display="static">
                        <div class="icon">
                            <i class="icon-shopping-cart"></i>
                            <span class="cart-count">{{ cart_count|default:0 }}</span>
                        </div>
                        {% comment %} <p>سبد خرید</p> {% endcomment %}
                    </a>

                  <div class="dropdown-menu dropdown-menu-right cart-panel-menu">
                        {% include "partials/minicart.html" %}
                    </div>
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->

        {% include 'partials/navbar.html' %}
    </div>
</header><!-- End .header -->