{% load static %}

<div class="mobile-menu-container mobile-menu-light">
        <div class="mobile-menu-wrapper">
            <span class="mobile-menu-close"><i class="icon-close"></i></span>

            <form action="#" method="get" class="mobile-search">
                <label for="mobile-search" class="sr-only">جستجو</label>
                <input type="search" class="form-control" name="mobile-search" id="mobile-search"
                    placeholder="جستجو در ..." required>
                <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
            </form>

            <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab"
                        role="tab" aria-controls="mobile-menu-tab" aria-selected="true">منو</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab"
                        aria-controls="mobile-cats-tab" aria-selected="false">دسته بندی ها</a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                    aria-labelledby="mobile-menu-link">
                    <nav class="mobile-nav">
                        <ul class="mobile-menu">
                            <li class="active">
                                <a href="{% url 'home:home' %}">خانه</a>

                                <ul>
                                    <li><a href="#">01 - فروشگاه مبلمان</a></li>
                                    <li><a href="#">02 - فروشگاه مبلمان</a></li>
                                    <li><a href="#">03 - فروشگاه لوازم الکترونیکی</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">فروشگاه</a>
                                <ul>
                                    <li><a href="#">فروشگاه لیست</a></li>
                                    <li><a href="#">2 ستونه</a></li>
                                    <li><a href="#">3 ستونه</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="sf-with-ul">محصولات</a>
                                <ul>
                                    <li><a href="#">پیش فرض</a></li>
                                    <li><a href="#">توضیحات وسط چین</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="#">صفحات</a>
                                <ul>
                                    <li>
                                        <a href="#" class="sf-with-ul">درباره ما</a>

                                        <ul style="display: none;">
                                            <li><a href="#">درباره ما 01</a></li>
                                            <li><a href="#">درباره ما 02</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="sf-with-ul">تماس با ما</a>

                                        <ul style="display: none;">
                                            <li><a href="#">تماس با ما 01</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="#">ورود</a></li>
                                        <li><a href="#">فراموشی رمز عبور</a></li>
                                    <li><a href="#">پیگیری سفارش</a></li>
                                    <li><a href="#">سوالات متداول</a></li>
                                    <li><a href="#">خطای 404</a></li>
                                    <li><a href="#">به زودی</a></li>
                                        <li><a href="#">به زودی 2</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">اخبار</a>

                                <ul>
                                    <li class=""><a href="#">کلاسیک</a></li>
                                    <li><a href="#">لیست</a></li>

                                    <li>
                                        <a href="#" class="sf-with-ul">ماسک</a>
                                        <ul style="display: none;">
                                            <li><a href="#">نوع 1</a></li>
                                            <li><a href="#">نوع 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" class="sf-with-ul">پست تکی</a>
                                        <ul style="display: none;">
                                            <li><a href="#">پیش فرض با سایدبار</a></li>
                                            <li><a href="#">تمام صفحه بدون سایدبار</a></li>
                                            <li><a href="#">تمام صفحه باسایدبار</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">عناصر طراحی</a>
                                <ul>
                                    <li class=""><a href="#">محصولات</a></li>
                                    <li><a href="#">تایپوگرافی</a></li>

                                </ul>
                            </li>
                        </ul>
                    </nav><!-- End .mobile-nav -->
                </div><!-- .End .tab-pane -->
                <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                    <nav class="mobile-cats-nav">
                        <ul class="mobile-cats-menu">
                            <li><a class="mobile-cats-lead" href="#">پیشنهاد روزانه</a></li>
                            <li><a class="mobile-cats-lead" href="#">هدیه</a></li>
                            <li><a href="#">تخت خواب</a></li>
                            <li><a href="#">روشنایی</a></li>
                            <li><a href="#">مبلمان خارج از منزل </a></li>
                        </ul><!-- End .mobile-cats-menu -->
                    </nav><!-- End .mobile-cats-nav -->
                </div><!-- .End .tab-pane -->
            </div><!-- End .tab-content -->

            <div class="social-icons">
                <a href="#" class="social-icon" target="_blank" title="فیسبوک"><i class="icon-facebook-f"></i></a>
                <a href="#" class="social-icon" target="_blank" title="توییتر"><i class="icon-twitter"></i></a>
                <a href="#" class="social-icon" target="_blank" title="اینستاگرام"><i class="icon-instagram"></i></a>
                <a href="#" class="social-icon" target="_blank" title="یوتیوب"><i class="icon-youtube"></i></a>
            </div><!-- End .social-icons -->
        </div><!-- End .mobile-menu-wrapper -->
    </div><!-- End .mobile-menu-container -->