{% load static %}
<div class="header-bottom sticky-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="col-lg-3">
                    <div class="dropdown category-dropdown">
                        <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false" data-display="static"
                           title="فهرست دسته بندی ها">
                            فهرست دسته‌بندی‌ها
                        </a>

                        <div class="dropdown-menu">
                            <nav class="side-nav">
                                <ul class="menu-vertical sf-arrows" dir="rtl">

                                    {# --- Dynamic mode: needs `top_categories` (roots) with children prefetch --- #}
                                    {% if top_categories %}
                                        {% for cat in top_categories %}
                                            <li class="megamenu-container">
                                                <a class="sf-with-ul"
                                                   href="{{ cat.get_absolute_url }}">{{ cat.name }}</a>

                                                {% with c1_list=cat.get_children %}
                                                    {% if c1_list %}
                                                        <div class="megamenu">
                                                            <div class="row no-gutters">
                                                                <div class="col-md-8">
                                                                    <div class="menu-col">
                                                                        <div class="row">
                                                                            {% for c1 in c1_list %}
                                                                                <div class="col-md-6">
                                                                                    <div class="menu-title">
                                                                                        <a href="{{ c1.get_absolute_url }}">{{ c1.name }}</a>
                                                                                    </div>
                                                                                    <ul>
                                                                                        {% for c2 in c1.get_children|slice:":8" %}
                                                                                            <li>
                                                                                                <a href="{{ c2.get_absolute_url }}">{{ c2.name }}</a>
                                                                                            </li>
                                                                                        {% empty %}
                                                                                            {# no third level #}
                                                                                        {% endfor %}
                                                                                    </ul>
                                                                                </div>
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4">
                                                                    <div class="banner banner-overlay">
                                                                        <a href="#" class="banner banner-menu">
                                                                            <img src="{% static 'images/demos/demo-13/menu/banner-1.jpg' %}"
                                                                                 alt="بنر">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                {% endwith %}
                                            </li>
                                        {% endfor %}

                                        {# --- Fallback: your original static menu (shown when no `top_categories`) --- #}
                                    {% else %}

                                        <li class="megamenu-container">
                                            <a class="sf-with-ul" href="#">لوازم الکترونیکی</a>
                                            <div class="megamenu">
                                                <div class="row no-gutters">
                                                    <div class="col-md-8">
                                                        <div class="menu-col">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="menu-title">کامپیوتر و لپ تاپ</div>
                                                                    <ul>
                                                                        <li><a href="#">دسکتاپ</a></li>
                                                                        <li><a href="#">مانیتور</a></li>
                                                                        <li><a href="#">لپ تاپ</a></li>
                                                                        <li><a href="#">آی پد و تب لت</a></li>
                                                                        <li><a href="#">هارد و فضای ذخیره سازی</a></li>
                                                                        <li><a href="#">پرینتر و دستگاه کپی</a></li>
                                                                        <li><a href="#">لوازم جانبی</a></li>
                                                                    </ul>

                                                                    <div class="menu-title">تلویزیون و ویدیو پلیر</div>
                                                                    <ul>
                                                                        <li><a href="#">تلویزیون ها</a></li>
                                                                        <li><a href="#">لوازم صوتی</a></li>
                                                                        <li><a href="#">پرژکتور</a></li>
                                                                        <li><a href="#">دستگاه های پخش ویدیو</a></li>
                                                                    </ul>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="menu-title">موبایل</div>
                                                                    <ul>
                                                                        <li><a href="#">تلفن هوشمند</a></li>
                                                                        <li><a href="#">هدفون و هندزفری</a></li>
                                                                        <li><a href="#">قاب و کاور</a></li>
                                                                        <li><a href="#">شارژر</a></li>
                                                                    </ul>

                                                                    <div class="menu-title">دوربین دیجیتال</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="banner banner-overlay">
                                                            <a href="#" class="banner banner-menu">
                                                                <img src="{% static 'images/demos/demo-13/menu/banner-1.jpg' %}"
                                                                     alt="بنر">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="megamenu-container">
                                            <a class="sf-with-ul" href="#">مبلمان</a>
                                            <div class="megamenu">
                                                <div class="row no-gutters">
                                                    <div class="col-md-8">
                                                        <div class="menu-col">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="menu-title">اتاق خواب</div>
                                                                    <ul>
                                                                        <li><a href="#">تخت خواب</a></li>
                                                                        <li><a href="#">چراغ خواب</a></li>
                                                                        <li><a href="#">میز</a></li>
                                                                    </ul>

                                                                    <div class="menu-title">اتاق نشیمن</div>
                                                                    <ul>
                                                                        <li><a href="#">میز قهوه</a></li>
                                                                        <li><a href="#">صندلی</a></li>
                                                                        <li><a href="#">میز</a></li>
                                                                    </ul>
                                                                </div>

                                                                <div class="col-md-6">
                                                                    <div class="menu-title">دفتر</div>
                                                                    <ul>
                                                                        <li><a href="#">صندلی</a></li>
                                                                        <li><a href="#">میز</a></li>
                                                                    </ul>

                                                                    <div class="menu-title">آشپزخانه</div>
                                                                    <ul>
                                                                        <li><a href="#">میز نهارخوری</a></li>
                                                                        <li><a href="#">کابینت</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="banner banner-overlay">
                                                            <a href="#" class="banner banner-menu">
                                                                <img src="{% static 'images/demos/demo-13/menu/banner-2.jpg' %}"
                                                                     alt="بنر">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="megamenu-container">
                                            <a class="sf-with-ul" href="#">آشپزی</a>
                                            <div class="megamenu">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        <div class="col-md-4">
                                                            <div class="menu-title">لوازم پخت و پز</div>
                                                            <ul>
                                                                <li><a href="#">قابلمه</a></li>
                                                                <li><a href="#">لوازم الکترونیکی</a></li>
                                                                <li><a href="#">پاقو</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="menu-title">ظروف</div>
                                                            <ul>
                                                                <li><a href="#">بشقاب</a></li>
                                                                <li><a href="#">فنجان</a></li>
                                                                <li><a href="#">قوه خوری</a></li>
                                                                <li><a href="#">سینی</a></li>
                                                                <li><a href="#">نمکو فلفل پاش</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="menu-title">لوازم الترونیکی</div>
                                                            <ul>
                                                                <li><a href="#">ماکروویو</a></li>
                                                                <li><a href="#">قهوه ساز</a></li>
                                                                <li><a href="#">میکسر</a></li>
                                                                <li><a href="#">آرام پز</a></li>
                                                                <li><a href="#">تستر</a></li>
                                                                <li><a href="#">مخلوط کن</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <div class="row menu-banners">
                                                        <div class="col-md-4">
                                                            <div class="banner">
                                                                <a href="#"><img
                                                                        src="{% static 'images/demos/demo-13/menu/1.jpg' %}"
                                                                        alt="image"></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="banner">
                                                                <a href="#"><img
                                                                        src="{% static 'images/demos/demo-13/menu/2.jpg' %}"
                                                                        alt="image"></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <div class="banner">
                                                                <a href="#"><img
                                                                        src="{% static 'images/demos/demo-13/menu/3.jpg' %}"
                                                                        alt="image"></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li class="megamenu-container">
                                            <a class="sf-with-ul" href="#">لباس</a>
                                            <div class="megamenu">
                                                <div class="row no-gutters">
                                                    <div class="col-md-8">
                                                        <div class="menu-col">
                                                            <div class="row">
                                                                <div class="col-md-6">
                                                                    <div class="menu-title">زنانه</div>
                                                                    <ul>
                                                                        <li><a href="#"><strong>محصولات
                                                                            جدید</strong></a></li>
                                                                        <li><a href="#"><strong>بیشترین
                                                                            فروش</strong></a></li>
                                                                        <li><a href="#"><strong>ویژه</strong></a></li>
                                                                        <li><a href="#">لباس</a></li>
                                                                        <li><a href="#">کفش</a></li>
                                                                        <li><a href="#">کیف</a></li>
                                                                        <li><a href="#">لوازم جانبی</a></li>
                                                                    </ul>
                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="menu-title">مردانه</div>
                                                                    <ul>
                                                                        <li><a href="#"><strong>محصولات
                                                                            جدید</strong></a></li>
                                                                        <li><a href="#"><strong>بیشترین
                                                                            فروش</strong></a></li>
                                                                        <li><a href="#"><strong>ویژه</strong></a></li>
                                                                        <li><a href="#">لباس</a></li>
                                                                        <li><a href="#">کفش</a></li>
                                                                        <li><a href="#">کیف</a></li>
                                                                        <li><a href="#">لوازم جانبی</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-4">
                                                        <div class="banner banner-overlay">
                                                            <a href="#" class="banner banner-menu">
                                                                <img src="{% static 'images/demos/demo-13/menu/banner-3.jpg' %}"
                                                                     alt="بنر">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="menu-col menu-brands">
                                                    <div class="row">
                                                        {% for i in "123456" %}
                                                            <div class="col-lg-2">
                                                                <a href="#" class="brand">
                                                                    <img src="
                                                                            {% static 'images/brands/' %}{{ forloop.counter }}.png"
                                                                         alt="نام برند">
                                                                </a>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li><a href="#">لوازم خانگی</a></li>
                                        <li><a href="#">زیبایی و سلامت</a></li>
                                        <li><a href="#">کفش و پوتین</a></li>
                                        <li><a href="#">مسافرت</a></li>
                                        <li><a href="#">تلفن هوشمند</a></li>
                                        <li><a href="#">تلویزیون و لوازم صوتی</a></li>
                                        <li><a href="#">هدیه</a></li>

                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

            </div><!-- End .col-lg-3 -->

            <div class="col-lg-9">
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li class="megamenu-container active">
                            <a href="#" class="sf-with-ul pl-5">خانه</a>

                            <div class="megamenu demo">
                                <div class="menu-col">
                                    <div class="menu-title">دمو خود را انتخاب کنید</div>
                                    <!-- End .menu-title -->

                                    <div class="demo-list">

                                        <div class="demo-item">
                                            <a href="#">
                                                            <span class="demo-bg"
                                                                  style="background-image: url({% static 'images/menu/demos/3.jpg' %});"></span>
                                                <span class="demo-title">01 - فروشگاه لوازم
                                                                الکترونیکی</span>
                                            </a>

                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="#">
                                                            <span class="demo-bg"
                                                                  style="background-image: url({% static 'images/menu/demos/2.jpg' %});"></span>
                                                <span class="demo-title">02 - فروشگاه مبلمان</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="#">
                                                            <span class="demo-bg"
                                                                  style="background-image: url({% static 'images/menu/demos/1.jpg' %});"></span>
                                                <span class="demo-title">03 - فروشگاه مبلمان</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="#">
                                                            <span class="demo-bg"
                                                                  style="background-image: url({% static 'images/menu/demos/4.jpg' %});"></span>
                                                <span class="demo-title">04 - فروشگاه لوازم
                                                                الکترونیکی</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                        <div class="demo-item">
                                            <a href="#">
                                                            <span class="demo-bg"
                                                                  style="background-image: url({% static 'images/menu/demos/5.jpg' %});"></span>
                                                <span class="demo-title">05 - فروشگاه مد و لباس</span>
                                            </a>
                                        </div><!-- End .demo-item -->

                                    </div><!-- End .demo-list -->

                                    <div class="megamenu-action text-center">
                                        <a href="#"
                                           class="btn btn-outline-primary-2 view-all-demos"><span>مشاهده
                                                            همه دموها</span><i class="icon-long-arrow-left"></i></a>
                                    </div><!-- End .text-center -->
                                </div><!-- End .menu-col -->
                            </div><!-- End .megamenu -->
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul pl-5">فروشگاه</a>

                            <div class="megamenu megamenu-md">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="menu-col">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="menu-title">فروشگاه با سایدبار</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">فروشگاه لیست</a>
                                                        </li>
                                                        <li><a href="#">فروشگاه 2
                                                            ستونه</a>
                                                        </li>
                                                        <li><a href="#">فروشگاه 3 ستونه</a></li>
                                                        <li><a href="#">فروشگاه 4
                                                            ستونه</a>
                                                        </li>
                                                        <li><a href="#"><span>فروشگاه
                                                                                بازار<span
                                                                    class="tip tip-new">جدید</span></span></a>
                                                        </li>
                                                    </ul>

                                                    <div class="menu-title">فروشگاه بدون سایدبار</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#"><span>فروشگاه با
                                                                                حالت
                                                                                باکس<span
                                                                    class="tip tip-hot">ویژه</span></span></a>
                                                        </li>
                                                        <li><a href="#">فروشگاه تمام
                                                            صفحه</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->

                                                <div class="col-md-6">
                                                    <div class="menu-title">دسته بندی محصولات</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">دسته بندی
                                                            محصولات با حالت باکس</a></li>
                                                        <li><a href="#"><span>دسته
                                                                                بندی محصولات تمام صفحه<span
                                                                    class="tip tip-new">جدید</span></span></a>
                                                        </li>
                                                    </ul>
                                                    <div class="menu-title">صفحات فروشگاه</div>
                                                    <!-- End .menu-title -->
                                                    <ul>
                                                        <li><a href="#">سبد خرید</a></li>
                                                        <li><a href="#">سبد خرید 2</a></li>
                                                        <li><a href="#">سبد خرید خالی</a></li>
                                                        <li><a href="#">پرداخت</a></li>
                                                        <li><a href="#">پرداخت 2</a></li>
                                                        <li><a href="#">لیست علاقه مندی ها</a>
                                                        </li>
                                                        <li><a href="#">داشبورد</a></li>
                                                    </ul>
                                                </div><!-- End .col-md-6 -->
                                            </div><!-- End .row -->
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-8 -->

                                    <div class="col-md-4">
                                        <div class="banner banner-overlay">
                                            <a href="#" class="banner banner-menu">
                                                <img src="{% static 'images/menu/banner-1.jpg' %}" alt="بنر">

                                                <div class="banner-content banner-content-top">
                                                    <div class="banner-title text-white">آخرین
                                                        <br>شانس<br><span><strong>فروش</strong></span></div>
                                                    <!-- End .banner-title -->
                                                </div><!-- End .banner-content -->
                                            </a>
                                        </div><!-- End .banner banner-overlay -->
                                    </div><!-- End .col-md-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-md -->
                        </li>
                        <li>
                            <a href="" class="sf-with-ul pl-5">محصول</a>

                            <div class="megamenu megamenu-sm">
                                <div class="row no-gutters">
                                    <div class="col-md-6">
                                        <div class="menu-col">
                                            <div class="menu-title">جزئیات محصول</div>
                                            <!-- End .menu-title -->
                                            <ul>
                                                <li><a href="#">پیش فرض</a></li>
                                                <li><a href="#">توضیحات وسط چین</a></li>

                                            </ul>
                                        </div><!-- End .menu-col -->
                                    </div><!-- End .col-md-6 -->

                                    <div class="col-md-6">
                                        <div class="banner banner-overlay">
                                            <a href="#">
                                                <img src="{% static 'images/menu/banner-2.jpg' %}" alt="بنر">

                                                <div class="banner-content banner-content-bottom">
                                                    <div class="banner-title text-white">محصولات
                                                        جدید<br><span><strong>بهار 1401</strong></span>
                                                    </div><!-- End .banner-title -->
                                                </div><!-- End .banner-content -->
                                            </a>
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-md-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .megamenu megamenu-sm -->
                        </li>
                        <li>
                            <a href="#" class="sf-with-ul pl-5">صفحات </a>

                            <ul>
                                <li>
                                    <a href="" class="sf-with-ul">درباره ما</a>

                                    <ul>
                                        <li><a href="">درباره ما 01</a></li>
                                        <li><a href="">درباره ما 02</a></li>
                                    </ul>
                                </li>

                                <li><a href="">ورود</a></li>
                                <li><a href="">فراموشی رمز عبور</a></li>
                                <li><a href="">پیگیری سفارش</a></li>
                                <li><a href="">سوالات متداول</a></li>
                                <li><a href="">خطای 404</a></li>
                                <li><a href="">به زودی</a></li>
                                <li><a href="">به زودی 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="" class="sf-with-ul pl-5">اخبار</a>

                            <ul>
                                <li><a href="">کلاسیک</a></li>
                                <li><a href="">لیست</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="" class="sf-with-ul pl-5">عناصر طراحی</a>

                            <ul>
                                <li><a href="">محصولات</a></li>
                                <li><a href="">باکس های آیکون</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .menu -->
                </nav><!-- End .main-nav -->
            </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
    </div><!-- End .container -->
</div><!-- End .header-bottom -->

