<!-- SVG sprite: icons used in product specs -->
<svg xmlns="http://www.w3.org/2000/svg" style="display:none">
  <symbol id="i-battery" viewBox="0 0 24 24">
    <path d="M2 8a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V8zm17 2h1a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-1v-8z"></path>
  </symbol>
  <symbol id="i-camera" viewBox="0 0 24 24">
    <path d="M9 5h6l1 2h3a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h3l1-2zm3 4a5 5 0 1 0 0 10 5 5 0 0 0 0-10z"></path>
  </symbol>
  <symbol id="i-display" viewBox="0 0 24 24">
    <path d="M3 6h18v12H3zM10 20h4v2h-4z"></path>
  </symbol>
  <symbol id="i-storage" viewBox="0 0 24 24">
    <path d="M3 6h18v4H3V6zm0 6h18v4H3v-4zm0 6h18v2H3v-2z"></path>
  </symbol>
  <symbol id="i-ram" viewBox="0 0 24 24">
    <path d="M4 7h16v10H4V7zm3 2v6h2V9H7zm4 0v6h2V9h-2zm4 0v6h2V9h-2z"></path>
  </symbol>
  <symbol id="i-cpu" viewBox="0 0 24 24">
    <path d="M8 4h2v2h4V4h2v2h2v2h2v8h-2v2h-2v2h-2v-2h-4v2H8v-2H6v-2H4V8h2V6h2V4zm0 6v4h8v-4H8z"></path>
  </symbol>
</svg>
