{% load static %}
<aside class="col-lg-2 col-xl-5col order-lg-first">
    <div class="sidebar sidebar-shop">
        <div class="widget widget-dashboard">
            <h3 class="widget-title">حساب کاربری</h3>
            <div class="widget-body">
                <ul class="cat-list dashboard-menu">
                    <li><a href="#tab-dashboard" class="tab-trigger-link active"><i
                            class="fas fa-tachometer-alt"></i>داشبورد</a></li>
                    <li><a href="#tab-orders" class="tab-trigger-link"><i
                            class="fas fa-shopping-bag"></i>سفارشات</a></li>
                    <li><a href="#tab-wallet" class="tab-trigger-link"><i class="fas fa-wallet"></i>کیف
                        پول</a></li>
                    <li><a href="#tab-favorites" class="tab-trigger-link"><i
                            class="fas fa-heart"></i>کالاهای مورد علاقه</a></li>
                    <li><a href="#tab-reviews" class="tab-trigger-link"><i
                            class="fas fa-comments"></i>نظرات</a></li>
                    <li><a href="#tab-recent" class="tab-trigger-link"><i
                            class="fas fa-history"></i>آخرین کالاهای دیده‌شده</a></li>
                    <li><a href="#tab-messages" class="tab-trigger-link"><i
                            class="fas fa-envelope"></i>پیام‌ها</a></li>
                    <li><a href="#tab-giftcards" class="tab-trigger-link"><i
                            class="fas fa-gift"></i>کارت‌های هدیه</a></li>
                    <li><a href="#tab-address" class="tab-trigger-link"><i
                            class="fas fa-map-marker-alt"></i>آدرس</a></li>
                    <li><a href="{% url 'dashboards:personal_info' %}"><i
                            class="fas fa-user-cog"></i>جزئیات حساب کاربری</a></li>
                    <li><a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt"></i>خروج
                        از حساب</a></li>
                </ul>
            </div>
        </div>
    </div>
</aside>