{% load static %}
<aside class="sidebar sidebar-shop" id="userSidebar">
    <div class="widget widget-dashboard">
        <h3 class="widget-title">حساب کاربری</h3>
        <div class="widget-body">
            <ul class="cat-list dashboard-menu">
                <li><a href="{% url 'dashboards:dashboard' %}" data-scroll="#dashboard" class="menu-link "><i
                        class="fas fa-tachometer-alt"></i><span class="menu-text">داشبورد</span></a></li>
                <li>
                    <a href="{% url 'dashboards:user_orders' %}"
                       class="menu-link {% if request.resolver_match.url_name == 'user_orders' %}active{% endif %}" data-scroll="#user-orders">
                        <i class="fas fa-shopping-bag"></i>
                        <span class="menu-text">سفارشات</span>
                    </a>
                </li>
                {% comment %} <li><a href="#tab-wallet" class="tab-trigger-link"><i class="fas fa-wallet"></i><span
                        class="menu-text">کیف پول</span></a></li> {% endcomment %}
                <li><a href="{% url 'core:wishlist_page' %}"><i class="fas fa-heart"></i><span
                        class="menu-text">کالاهای مورد علاقه</span></a></li>
                <li><a href="{% url 'dashboards:user_comments' %}" data-scroll="#user-comments"><i
                        class="fas fa-comments"></i><span
                        class="menu-text">نظرات</span></a></li>
                {% comment %} <li><a href="#tab-recent" class="tab-trigger-link"><i class="fas fa-history"></i><span
                        class="menu-text">بازدیدهای اخیر</span></a></li> {% endcomment %}
                {% comment %} <li><a href="#tab-messages" class="tab-trigger-link"><i class="fas fa-envelope"></i><span
                        class="menu-text">پیام‌ها</span></a></li> {% endcomment %}
                {% comment %} <li><a href="#tab-giftcards" class="tab-trigger-link"><i class="fas fa-gift"></i><span
                        class="menu-text">کارت‌های هدیه</span></a></li> {% endcomment %}
                <li><a href="{% url 'dashboards:addresses' %}" data-scroll="#add-addresses"><i
                        class="fas fa-map-marker-alt"></i><span
                        class="menu-text">آدرس</span></a></li>
                <li><a href="{% url 'dashboards:personal_info' %}" data-scroll="#personal-info-card"><i
                        class="fas fa-user-cog"></i><span
                        class="menu-text">جزئیات حساب کاربری</span></a></li>
                <li><a href="{% url 'dashboards:change_phone_otp' %}" data-scroll="#change-phone-card"><i
                        class="fas fa-user-cog"></i><span
                        class="menu-text">تغییر شماره همراه</span></a></li>
                <li><a href="{% url 'account:logout' %}"><i class="fas fa-sign-out-alt"></i><span class="menu-text">خروج از حساب</span></a>
                </li>
            </ul>
        </div>
    </div>
</aside>

{% block CSS-JS %}
    <link rel="stylesheet" href="{% static 'css/dashboard_user.css' %}">
    <link rel="stylesheet"
          href="{% static 'css/http_cdnjs.cloudflare.com_ajax_libs_font-awesome_5.15.4_css_all.css' %}">
    <!-- font awesome -->
    <script src="{% static 'js/dashboard_user.js' %}" defer></script>
{% endblock %}