{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ورود با شماره موبایل</title>
  <link rel="stylesheet" href="{% static 'css/otpstyle.css' %}">
</head>
<body>
<div class="otp-container">
  {% if messages %}
    <div style="width: 100%; text-align: center;">
      {% for message in messages %}
        <div class="log_msg">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <h2 class="otp-title">ورود با شماره موبایل</h2>
  <form method="post" novalidate>
    {% csrf_token %}
      <input type="text" class="phone-input" name="phone" maxlength="11"  placeholder="09xxxxxxxxx" required>
{#    {{ form.phone }}#}
    <button type="submit" class="otp-button">ارسال کد تایید</button>
  </form>
</div>
</body>
</html>