{#/home/atusa92/PycharmProjects/ShopX/templates/base.html#}
<!DOCTYPE html>
{% load static %}
<html lang="en" dir="rtl">

<head>
    {% include 'partials/header_reference.html' %}

    {% block meta %}
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

    {% block meta_description %}
        <meta name="description" content="khane toshake online shop">
    {% endblock %}


    {% block CSS-JS %}{% endblock %}

</head>


<body>
<div class="page-wrapper">
    {% include 'partials/header.html' %}

    {% block content %}
    {% endblock %}

    {% include 'partials/footer.html' %}
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="بازگشت به بالا"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->

{% include 'partials/mobile-menu-container.html' %}

{% include 'partials/footer_reference.html' %}
{% include "partials/svg-sprite.html" %}

<script>
window.addEventListener("pageshow", function(event) {
    // اگر صفحه از BFCache لود شده، رفرش شود
    if (event.persisted) {
        window.location.reload();
    }
});

// برای برخی مرورگرها (Safari) باید از pagehide هم استفاده شود
window.addEventListener("pagehide", function() {
    // این موجب می‌شود صفحه کش نشود
});
</script>


</body>

</html>