{% extends "base.html" %}
{% load static %}
{% load imagekit %}

{% block title %}
{{ page.meta_title|default:'تماس با ما' }}
{% endblock %}

{% block meta_description %}
    <meta name="description" content="{{ page.meta_description|default:'تماس با ما' }}">
{% endblock %}


{% block content %}

<main class="main">
    <!-- Breadcrumb -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-2">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="{% url 'home:home' %}">
                        <i class="icon-home"></i> خانه
                    </a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">تماس با ما</li>
            </ol>

        </div>
    </nav>



    <!-- Header -->
    <div class="container">
        <div class="row align-items-center py-5 mb-3 header-two-col header-wrapper">

            <!-- متن سمت راست -->
            <div class="col-md-6 text-right content-col mb-4 mb-md-0">
                <h1 class="page-title fw-bold">تماس با ما</h1>
                <p class="header-subtitle mb-2">
                    از طریق فرم زیر می‌توانید با ما در ارتباط باشید
                </p>
                <div class="row">

                <!-- Address & Work Time -->
                <div class="col-md-4">
                    <div class="contact-box text-right p-3">
                        <h3>
                            <i class="icon-map-marker"></i>
                            آدرس دفتر
                        </h3>
                        <address>
                            {{ site_info.address|default:"تهران، میدان آزادی<br>خیابان آزادی، پلاک ۷" }}
                        </address>

                        <div class="mt-4">
                            <h3>
                                <i class="icon-clock-o"></i>
                                ساعت کاری
                            </h3>
                            <p>
                                {{ site_info.working_hours|default:"شنبه تا پنجشنبه - ۸ صبح تا ۲۲ شب" }}
                            </p>
                        </div>
                    </div>
                </div>


                <!-- Contact Info -->
                <div class="col-md-4">
                    <div class="contact-box text-right p-3">
                        <h3>
                            <i class="icon-phone"></i>
                            اطلاعات تماس
                        </h3>
                        <div class="text-right mb-2">
                            {% if site_info.phone_number %}
                                <a href="tel:{{ site_info.phone_number }}">{{ site_info.phone_number }}</a><br>
                            {% endif %}
                            {% if site_info.phone_number2 %}
                                <a href="tel:{{ site_info.phone_number2 }}">{{ site_info.phone_number2 }}</a><br>
                            {% endif %}
                            {% if site_info.phone_number3 %}
                                <a href="tel:{{ site_info.phone_number3 }}">{{ site_info.phone_number3 }}</a>
                            {% endif %}
                        </div>

                        <div>
                            <i class="icon-envelope"></i>
                             اطلاعات ایمیل
                        </div>
                        <div>
                            <a href="mailto:{{ site_info.email }}">
                                {{ site_info.email|default:"info@example.com" }}
                            </a>
                        </div>
                    </div>
                </div>


                <!-- Social Media -->
                <div class="col-md-4">
                    <div class="contact-box text-center p-3">
                        <h3>
                            <i class="icon-share-alt"></i>
                            شبکه‌های اجتماعی
                        </h3>

                        <div class="social-icons social-icons-color justify-content-center">
                            <a href="{{ site_info.instagram|default:'#' }}" class="social-icon" target="_blank">
                                <i class="icon-instagram"></i>
                            </a>
                            <a href="{{ site_info.telegram|default:'#' }}" class="social-icon" target="_blank">
                                <i class="icon-telegram"></i>
                            </a>
                            <a href="{{ site_info.twitter|default:'#' }}" class="social-icon" target="_blank">
                                <i class="icon-twitter"></i>
                            </a>
                            <a href="{{ site_info.whatsapp|default:'#' }}" class="social-icon" target="_blank">
                                <i class="icon-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>


            </div>
            </div>

            <!-- عکس سمت چپ -->
            <div class="col-md-6">
                <div class="header-image-box"
                    {% if page.header_image_optimized %}
                        style="background-image: url('{{ page.header_image_optimized.url }}');"
                    {% endif %}
                ></div>
            </div>

        </div>
    </div>


    <hr class="mt-3 mb-5 mt-md-1">

    <!-- Contact Form -->
        <div class="touch-container row justify-content-center">
            <div class="col-md-9 col-lg-7">
                <div>

                    <h2 class="title mb-5">ارتباط با ما</h2>

                    <div id="ajax-message"></div>

                    <form method="post" class="contact-form mb-2">
                        {% csrf_token %}

                        {% if form.non_field_errors %}
                        <div class="alert alert-danger mb-3 ">
                            {% for error in form.non_field_errors %}
                                <div>{{ error }}</div>
                            {% endfor %}
                        </div>
                        {% endif %}

                        <div class="row">
                            <div class="col-sm-4 mb-3">
                                {{ form.name }}
                                {% for error in form.name.errors %}
                                <small class="text-danger d-block">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div class="col-sm-4 mb-3">
                                {{ form.email }}
                                {% for error in form.email.errors %}
                                <small class="text-danger d-block">{{ error }}</small>
                                {% endfor %}
                            </div>

                            <div class="col-sm-4 mb-3">
                                {{ form.phone }}
                                {% for error in form.phone.errors %}
                                <small class="text-danger d-block">{{ error }}</small>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="mb-3">
                            {{ form.subject }}
                            {% for error in form.subject.errors %}
                            <small class="text-danger d-block">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="mb-3">
                            {{ form.message }}
                            {% for error in form.message.errors %}
                            <small class="text-danger d-block">{{ error }}</small>
                            {% endfor %}
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-save btn-minwidth-sm mt-3">
                                <span>تأیید و ارسال</span>
                                <i class="icon-long-arrow-left"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
        </div>

        <hr class="mt-3 mb-5 mt-md-1">

    <div class="page-content">

        <!-- Google Map -->
        <div class="col-12 mb-5">
            <div class="bg-white w-100">
                <iframe
                    src="https://www.google.com/maps?q={{ site_info.address|default:'Tehran' }}&output=embed"
                    width="100%"
                    height="450"
                    style="border:0;"
                    allowfullscreen
                    loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</main>


{% block CCS-JS %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <script src="{% static 'js/contact.js' %}"></script>
{% endblock %}
{% endblock %}