  {% load static %}
  <!-- Meta Data -->

		<meta charset="UTF-8">
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="Description" content="قالب HTML داشبورد مدیریتی Zynix">
        <meta name="Author" content="قالب HTML داشبورد مدیریتی Zynix">
        <meta name="keywords" content="قالب HTML داشبورد مدیریتی Zynix">

        <!-- TITLE -->
		<title>قالب HTML داشبورد مدیریتی Zynix </title>

        <!-- FAVICON -->
        <link rel="icon" href="{% static 'dashboard_assets/images/brand-logos/favicon.ico' %}" type="image/x-icon">

        <!-- BOOTSTRAP CSS -->
	    <link id="style" href="{% static 'dashboard_assets/libs/bootstrap/css/bootstrap.rtl.min.css' %}" rel="stylesheet">

        <!-- STYLES CSS -->
        <link href="{% static 'dashboard_assets/css/styles.css' %}" rel="stylesheet">

        <!-- ICONS CSS -->
        <link href="{% static 'dashboard_assets/icon-fonts/icons.css' %}" rel="stylesheet">


        <!-- NODE WAVES CSS -->
        <link href="{% static 'dashboard_assets/libs/node-waves/waves.min.css' %}" rel="stylesheet">

        <!-- SIMPLEBAR CSS -->
        <link rel="stylesheet" href="{% static 'dashboard_assets/libs/simplebar/simplebar.min.css' %}">

        <!-- PICKER CSS -->
        <link rel="stylesheet" href="{% static 'dashboard_assets/libs/flatpickr/flatpickr.min.css' %}">
        <link rel="stylesheet" href="{% static 'dashboard_assets/libs/@simonwep/pickr/themes/nano.min.css' %}">

        <!-- AUTO COMPLETE CSS -->
        <link rel="stylesheet" href="{% static 'dashboard_assets/libs/@tarekraafat/autocomplete.js/css/autoComplete.css' %}">

        <!-- CHOICES CSS -->
        <link rel="stylesheet" href="{% static 'dashboard_assets/libs/choices.js/public/assets/styles/choices.min.css' %}">

        <!-- CHOICES JS -->
        <script src="{% static 'dashboard_assets/libs/choices.js/public/assets/scripts/choices.min.js' %}"></script>

        <!-- MAIN JS -->
        <script src="{% static 'dashboard_assets/js/main.js' %}"></script>



  <!-- POPPER JS -->
        <script src="{% static 'dashboard_assets/libs/@popperjs/core/umd/popper.min.js' %}"></script>

        <!-- BOOTSTRAP JS -->
        <script src="{% static 'dashboard_assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

        <!-- NODE WAVES JS -->
        <script src="{% static 'dashboard_assets/libs/node-waves/waves.min.js' %}"></script>

        <!-- SIMPLEBAR JS -->
        <script src="{% static 'dashboard_assets/libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'dashboard_assets/js/simplebar.js' %}"></script>


        <!-- PICKER JS -->
        <script src="{% static 'dashboard_assets/libs/flatpickr/flatpickr.min.js' %}"></script>
        <script src="{% static 'dashboard_assets/libs/@simonwep/pickr/pickr.es5.min.js' %}"></script>

        <!-- AUTO COMPLETE JS -->
        <script src="{% static 'dashboard_assets/libs/@tarekraafat/autocomplete.js/autoComplete.min.js' %}"></script>




        <!-- STICKY JS -->
        <script src="{% static 'dashboard_assets/js/sticky.js' %}"></script>

        <!-- DEFAULTMENU JS -->
        <script src="{% static 'dashboard_assets/js/defaultmenu.js' %}"></script>

        <!-- CUSTOM JS -->
        <script src="{% static 'dashboard_assets/js/custom.js' %}"></script>

        <!-- CUSTOM-SWITCHER JS -->
        <script src="{% static 'dashboard_assets/js/custom-switcher.js' %}"></script>

        <!-- END SCRIPTS -->